{% extends 'base.html' %}

<!-- CSSを読み込むコード -->
{% block  css%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/owner_platform.css' %}">
{% endblock %}

{% block content %}
<!-- ここの内容は継承先が記載する -->

<h2>プラットフォーム管理画面</h2>

{% for item in folder_list %}
<div>
    <ul class="list-group">
        <li class="list-group-item" href="/photo_share_app/platform/photo_platform/{{ item.id }}">{{ item.picture_folder_name }}</li>
    <a href="{% url 'owner_delete_platform' item.id %}"><!--pkにitem.idを入れてプラットフォーム削除画面に遷移-->
        削除
    </a> 
{% endfor %}
</ul>
</div>

<a href="{% url 'owner_add_platform' %}"><!--pkにitem.idを入れてプラットフォーム作成画面に遷移-->
    フォルダを追加
</a> 

{% endblock %}